<div *ngFor="let task of tasks" class="task-item" [class.completed]="task.completed">
  <!-- Si en mode édition -->
  <div *ngIf="editModeTaskId === task.id">
    <input
      type="text"
      class="input-form"
      [(ngModel)]="editedTitle"
      placeholder="Modifier le titre de la tâche"
    />
  </div>

  <!-- Si en mode affichage normal -->
  <div *ngIf="editModeTaskId !== task.id">
    <input
      type="checkbox"
      [checked]="task.completed"
      (change)="toggleCompletion(task)"
    />
    {{ task.title }}
  </div>

  <!-- Boutons pour mode édition -->
  <div *ngIf="editModeTaskId === task.id" class="actions">
    <button (click)="updateTask(task)" class="btn-update btn-icon"><i class="fa fa-check"></i></button>
    <button (click)="cancelEditMode()" class="btn-cancel btn-icon"><i class="fa fa-close"></i></button>
  </div>

  <!-- Boutons pour mode affichage normal -->
  <div *ngIf="editModeTaskId !== task.id" class="actions">
    <button (click)="enableEditMode(task)" [disabled]="task.completed" class="btn-edit btn-icon"><i class="fa fa-pencil"></i></button>
    <button (click)="deleteTask(task)" [disabled]="task.completed" class="btn-delete btn-icon"><i class="fa fa-trash-alt"></i></button>
  </div>
</div>
