.task-form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: auto;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .error {
    border: 1px solid #ff4d4f;
    box-shadow: 0 0 4px rgba(255, 77, 79, 0.5);
  }
}
